.grid {
	width: 400px;
	height: 400px;
	border: 2px solid black;
}

.row {
	display: flex;
}

.element {
	width: 98px;
	height: 96px;
	border: 2px solid black;
	text-align: center;
	line-height: 100px;
}

body {
	font-family: 'Noto Sans HK', sans-serif;
}
